<!DOCTYPE html>
<html lang="en">
<head>
  <title>First Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container, text-center">
    <div class="col-4">
    <a href="#" class="btn btn-info" role="button">Book a doctor</a>
    <a href="#" class="btn btn-info" role="button">Book a Pharmacy</a>  
    </div>
</div>
<div class="container, text-center">
    <div class="col-4">
    <a href="#" class="btn btn-info" role="button">Health Insurance Claim</a>
    <a href="#" class="btn btn-info" role="button">Lab Test</a>  
    </div>
</div>
</body>
</html>
