<!DOCTYPE html>
<head>
        <title>Checkout</title>
        <script src="../static/js/checkout.js"></script>
      </head>
<body>
        <div>
                <h2>Pay 50</h2>
                <form action="{{url_for('processPayment',emailOfReceiver = emailOfReceiver)}}" method="post">
                  <script
                    src="https://checkout.stripe.com/checkout.js"
                    class="stripe-button"
                    data-key="{{ pub_key }}"
                    data-description="A Flask Charge"
                    data-amount="50"
                    data-locale="auto">
                  </script>
                </form>
                <br>

              </div>
</body>
</html>